useDynLib(altreptests, .registration = TRUE, .fixes="CXX_")

export(
       is.altrep,
       altrep_class_tests,
       altrep_framework_tests,
       simple_class.new,
       altrep_simple_string_class.new
       )
